.dashboard-container {
  background: url('/static/img/img1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  background-color: #1ea767;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #159a50;
}

.charts {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.chart-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
